.block-header
{
    padding: 10px;
    background-color: #0000006b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
	
}
.block-header p
{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 60px;
    height: auto;
    font-family: Aller;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.block-header a
{
    color: white;
    text-decoration: blink;
    font-family: Aller;
    font-size: 33px;
    height: auto;
    margin-right: 100px;
}
.block-navigation
{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}
p{
    font-size: 23px
}
article h1
{
    text-align: center;
}
body
{
    margin: 0px;
    color: white;
}
body 
{
    font-size: 17px;
    margin: 0px;
    background: #ecdfdf;
    background-image:url(tacos.jpg);
    background-size : 100%;
    background-color: rgba(0,0,0,2);
    font-family: Aller;
}
caption
{
    font-size: 26px;
    margin-bottom: 25px;
}
th,td
{
    padding: 15px;
    border:  2px solid white;
}
table
{
    border-collapse: collapse;
}
section
{
    padding: 15px;
}
figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
img
{
    width: 80%;
}
@font-face
{
    font-family: Aller;
    src: url(Jost-Bold.ttf);
}
.block-footer
{
    display: flex;
    justify-content: center;
    background-color: #00000052;
    align-items: center;
    height: 75px;
    font-family: Aller;
    color: white;
    width: 100%;
    flex-direction: column;
}
.block-navigation-footer p
{
    margin: 0px;
}
@media only screen and (max-width: 600px) {
    section{
        width: 100%;
    }
    img {
        width: 100%;
    }
    figure
    {
        padding: 2px;
    }
}
@media screen and (max-device-width: 800px){
    .block-logo p{
        display: none;
    }
    .block-logo a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
        flex-wrap: wrap;
    }
    .block-navigation{
        display: initial;
    }
}
@media screen and (max-width: 800px) {
    .block-logo p{
        display: none;
    }
    .block-logo a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
        flex-wrap: wrap;
    }
    .block-navigation{
        display: initial;
    }
}