.block-header
{
    padding: 10px;
    background-color: #0000006b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.block-header p
{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 60px;
    height: auto;
    font-family: Aller;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.block-info
{
    display: flex;

    flex-direction: column;
    justify-content: center;
    background-color: #000000d4;
    align-items: center;
    margin: 1%;
    border-radius: 3%;
    width: 23%;
}
.block-test-3{
    display: flex;
    padding: 20px; 
}
.block-info section{
    width: 82%;
    font-size: 19px;
}
.block-header a
{
    color: white;
    text-decoration: blink;
    font-family: Aller;
    font-size: 33px;
    height: auto;
    margin-right: 100px;
}
.block-navigation
{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}
.block-test
{
    display: flex;
    padding: 65px;
}
.block-test-2
{
    display: flex;
    padding: 65px;
    padding-top: 43px;
    padding-right: 29px;
    padding-left: 29px;
    padding-bottom: 50px;
    background-color: #00000052;
}
.block-navigation-footer p
{
    margin: 0px;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
section
{
    width: 60%;
}
figcaption
{
    font-style: italic;
    font-size: 16px;
    text-align: center;
}
h2{
    font-size: 36.75px;
}
p{
    font-size: 23px
}
body
{
    margin: 0px;
    color: white;
}
h3
{
    font-size: 25px;
}
@font-face
{
    font-family: Aller;
    src: url(Jost-Bold.ttf);
}
.block-footer
{
    display: flex;
    justify-content: center;
    background-color: #00000052;
    align-items: center;
    height: 75px;
    font-family: Aller;
    color: white;
    width: 100%;
    flex-direction: column;
}
body 
{
    font-size: 17px;
    margin: 0px;
    background: #ecdfdf;
    background-image:url(tacos.jpg);
    background-size : 100%;
    background-color: rgba(0,0,0,2);
    font-family: Aller;
}
.block-test-4
{
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000b5;
}
.liste-puce
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}
li{
    font-size: 21px;
    margin: 3%;
} 
ul{
    font-size: 17px;
}